# Editor files
*.sublime-*

# Some data, mostly JSON
debug/*

# Just some screenshots
server/mle_*.png

# Firefox
Firefox/*.update.rdf
Firefox/jpmrun.sh

# Chrome private key
*.pem

# Firefox signing api credentials
ff-sign-api-key.txt
ff-sign-api-user.txt

# Build extension files
build/*
*.oex
*.crx
*.xpi
