# Files whose hardlinks are used for the different browser extensions
common resources/*

# Some data, mostly JSON
debug/*

# Just some screenshots
server/mle_*.png

# Script containing Firefox SDK command cfx with a parameter for my local profile
Firefox/cfxrun.sh

# Chrome private key
*.pem

# Build extension files
build/*
*.oex
*.crx
*.xpi
