@import url( "http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" );


* {
	margin: 0;
	padding: 0;
}

a {
	color: #2560AB;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #2560AB;
}

html {
	background-color: #303030;
	color: #f6f6f6;
	font: 16px "Open Sans", Arial, sans-serif;
	padding-bottom: 80px;
}

code {
	background-color: #f4f4f4;
	border: 1px solid #e0e0e0;
	border-bottom-color: #c0c0c0;
	border-radius: 1px;
	color: #505050;
	font-size: 13px;
	padding: 4px 6px;
}

h1 {
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	margin: 72px auto 10px !important;
	position: relative;
	text-transform: uppercase;
}

	#version {
		display: inline-block;
		font-size: 22px;
		font-weight: normal;
		left: 8px;
		line-height: 22px;
		position: relative;
		top: -4px;
		vertical-align: top;
	}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 18px;
	text-transform: uppercase;
}

hr {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 24px 0 20px;
}

ul {
	list-style-type: none;
}

li {
	line-height: 24px;
}

p {
	line-height: 24px;
	margin-bottom: 10px;
}

p:last-child {
	margin-bottom: 0;
}



/* Same width */
/* ---------- */

h1, nav, .main {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0 auto;
	max-width: 720px;
}

.changelog,
.features {
	background-color: #ffffff;
	color: #000000;
	padding: 40px;
}



/* Navigation */
/* ---------- */

nav.main {
	margin-bottom: 40px;
}

	nav.main a {
		border: 0;
		color: #88D434;
		font-size: 140%;
		margin-right: 10px;
	}

	nav.main a:hover {
		color: #a0a0a0;
	}

	nav.main a.active {
		color: #ffffff;
	}



/* Features */
/* -------- */

.features li {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
}

.features li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.features img {
	background-color: #ffffff;
	display: block;
	margin: 10px auto 0;
}

.features .intro {
	padding-top: 0;
	text-align: center;
}

	.features .intro img {
		border: 20px solid #ffffff;
		border-radius: 2px;
		box-shadow: 0 4px 20px rgba( 0, 0, 0, 0.2 );
		left: -110px;
		margin-top: 0;
		position: relative;
	}

	.features .intro p {
		color: #707070;
		font-size: 14px;
		line-height: 18px;
		margin-top: 10px;
	}



/* Install */
/* ------- */

nav.tabs label {
	background-position: 20px center;
	background-repeat: no-repeat;
	border-bottom: 4px solid transparent;
	color: #a0a0a0;
	cursor: pointer;
	display: inline-block;
	font-size: 120%;
	margin-right: -4px;
	padding: 20px 20px 20px 42px;
	position: relative;
}

nav.tabs label:hover {
	border-bottom-color: #808080;
}

nav.tabs .active {
	border-bottom-color: #ffffff !important;
	color: #ffffff;
}

nav.tabs label[for="tab_chrome"] {
	background-image: url( "./logo-chrome.png" );
}

nav.tabs label[for="tab_firefox"] {
	background-image: url( "./logo-firefox.png" );
}

nav.tabs label[for="tab_opera"] {
	background-image: url( "./logo-opera.png" );
	padding-left: 40px;
}

.browsers {
	background-color: #ffffff;
	box-shadow: 0 4px 40px 0 rgba( 255, 255, 255, 0.1 );
}

	.tab-content {
		color: #000000;
		display: none;
		padding: 30px;
	}

	input[name="browser"]:checked + .tab-content {
		display: block;
	}


.install_trigger {
	background-color: #101010;
	background-image: -webkit-linear-gradient( 270deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0.0 ) );
	background-image:         linear-gradient( 180deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0.0 ) );
	border: 1px solid transparent;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 16px;
	padding: 9px 13px;
	text-align: center;
}

.install_trigger:hover {
	background-image: -webkit-linear-gradient( 90deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0.0 ) );
	background-image:         linear-gradient( 0deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0.0 ) );
}

.install_trigger.chrome {
	background-color: #0374ED;
	border-color: #0374ED;
}

.install_trigger.firefox {
	background-color: #D96A19;
	border-color: #D96A19;
}

.install_trigger.opera {
	background-color: #CB141A;
	border-color: #CB141A;
}



/* Changelog */
/* --------- */

.changelog li {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
}

.changelog li:first-child {
	padding-top: 0;
}

.changelog li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

	.changelog li li {
		border: 0;
		padding: 6px 0;
	}

	.changelog code {
		margin-right: 4px;
		vertical-align: bottom;
	}
