<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="%MLE_URL%/" version="%MLE_VERSION%">

	<name>My Little Emotebox</name>
	<description>An easy way to insert and manage emotes.</description>
	<author href="%MLE_URL%" email="mle@sebadorn.de">meinstuhlknarrt</author>
	<icon src="icons/MLE_64.png" />
	<license href="http://mozilla.org/MPL/2.0/">Licensed under the terms of the MPL 2.0</license>
	<update-description href="%MLE_URL%/updates-opera.xml" />

	<access origin="http://reddit.com" subdomains="true" />
	<access origin="http://www.redditstatic.com" subdomains="true" />
	<access origin="http://redditmedia.com" subdomains="true" />

	<feature name="opera:contextmenus" />

</widget>